@use "../../partials/partials" as *;
@use "../../partials/fonts" as *;
@use "../../partials/mixins" as *;

.inventory-modify {
  &__header {
    display: flex;
    padding: 2rem 2rem 1.3125rem 2rem;

    @include tablet {
      border-bottom: 1px solid $secondary-light;
    }
  }
  &__icon {
    margin-right: 0.75rem;
  }
  &__title {
    @include header;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}
