@use '../../partials/fonts' as *;
@use '../../partials/_mixins' as *;
@use '../../partials/partials' as *;

.warehouse-list {
  &__container {
    border-top: 1px solid $secondary-light;
    padding: $padding-increment * 2 $padding-increment * 3 $padding-increment * 3 $padding-increment * 3;
    display: flex;
    flex-wrap: wrap;
    &:hover {
      background-color: rgba(46, 102, 230, 0.07);
    }
    @include tablet {
      flex-wrap: nowrap;
      padding: $padding-increment * 2 $padding-increment * 4;
      align-items: center;
      &:first-child {
        border-top: none;
      }
    }
  }
  &__item {
    width: 50%;
    margin-bottom: 1rem;
    @include tablet {
      padding-right: $padding-increment * 2;
      margin-bottom: 0;
    }
    &--big-width {
      @include tablet {
        width: 25%;
      }
    }
    &--small-width {
      @include tablet {
        width: 16%;
      }
    }
  }
  &__title {
    @include table-header;
    @include tablet {
      display: none;
    }
  }
  &__text {
    @include body-medium;
  }
  &__link {
    @include link;
    display: flex;
    align-items: center;
    p {
      @include link;
    }
    &:hover {
      .warehouse-list__chevron,
      .item-list__chevron {
        margin-left: 8px;
      }
    }
  }
  &__modify {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include tablet {
      width: 16.66%;
      justify-content: flex-end;
    }
  }
  &__figure {
    @include tablet {
      margin-right: $padding-increment * 3;
    }
  }
  &__chevron {
    transition: margin-left 0.2s;
  }
}
