@import "../../partials/fonts";
@import "../../partials/_mixins.scss";
@import "../../partials/partials";

.warehouse {
  z-index: 1;
 
  @include mobile {

    padding-bottom: 2rem;
  
    margin: 8rem 3rem 2.5rem 3rem;
    background-color: $white;
    box-shadow: 0rem 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
  }
  @include tablet {
    margin-top: 6rem;
  }
  @include desktop {
    width: 63.75rem;
    // margin-bottom:3rem;
    margin-top: 6rem;
    min-height:fit-content;
    display: flex;
    flex-direction: column;
    
    
  }
}

.search {
  @include mobile {
    margin: 0 1.5rem;
  }
  @include tablet {
    display: flex;
  }

  &__title {
    @include mobile {
      @include font-bold;
      font-size: 1.75rem;
      line-height: 2.25rem;
      margin-top: 2rem;
    }
    @include tablet {
      font-size: 2rem;
      margin: 2rem 6.25rem 1.375rem 0;
    }
    @include desktop {
      margin: 2rem 19.4375rem 1.375rem 1rem;
    }
  }

  &__bar {
    @include mobile {
      height: 2.25rem;
      width: 18.4375rem;
      padding: 0 0 0 1rem;
      border-radius: 1.25rem;
      @include font-regular;
      font-size: 0.8125rem;
      margin: 1rem 0;
    }
    @include tablet {
      font-size: 0.875rem;
      height: 2.375rem;
      width: 11.5625rem;
      margin: 2rem 1rem 1.5rem 0;
    }
    @include desktop {
      width: 17.125rem;
    }
  }

  &__button {
    @include mobile {
      height: 2.25rem;
      width: 18.4375rem;
      padding: 0.5rem 5.25rem;
      background-color: $instock-indigo;
      border-radius: 1.25rem;
      @include font-regular;
      font-size: 0.8125rem;
      color: $white;
      border-style: none;
      margin-bottom: 1.5rem;
    }
    @include tablet {
      font-size: 0.875rem;
      height: 2.375rem;
      width: 10.5rem;
      padding: 0.5rem 1rem;
      margin-top: 2rem;
    }
    @include desktop {
    }
  }
}
input[type="text"] {
  background-image: url(../../Assets/Icons/search-24px.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 16.125rem;

  @include tablet {
    background-position-x: 9rem;
  }
  @include desktop {
    background-position-x: 15rem;
  }
}
.card {
  @include mobile {
    border-top: 0.0625rem solid $cloud;
    height: 12.25rem;
    // width: fit-content;
    // margin: 0 1rem;
    display: flex;
    // justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    // align-items: center;
  }
  @include tablet {
    flex-direction: row;
    height: fit-content;
    // justify-content: space-between;
    border-bottom: 0.0625rem solid $cloud;
    border-top: none;
    padding: 1rem 2rem;
  }
  @include desktop {
  }

  &__label {
    @include mobile {
      @include font-regular;
      font-size: 0.6875rem;
      line-height: 1rem;
      color: $slate;
      margin: 0 0 0.25rem 0;
    }
    @include tablet {
      display: none;
    }
    @include desktop {
    }
  }

  &__text--name {
    @include mobile {
      @include font-regular;
      font-size: 0.8125rem;
      line-height: 1.25rem;
      color: $instock-indigo;
      margin: 0 0 1rem 0;
    }
    @include tablet {
      font-size: 0.875rem;
    }
    @include desktop {
    }
  }

  &__text {
    @include mobile {
      @include font-regular;
      font-size: 0.8125rem;
      line-height: 1.25rem;
      margin: 0 0 1rem 0;
    }
    @include tablet {
      font-size: 0.875rem;
      margin: 0;
    }
    @include desktop {
      width: 14rem;
    }
  }

  &__text--br {
    @include mobile {
      @include font-regular;
      font-size: 0.8125rem;
      line-height: 1.25rem;
      margin: 0;
    }
    @include tablet {
      font-size: 0.875rem;
    }
    @include desktop {
    }
  }

  &__img--delete {
    @include mobile {
      margin: 0 0 0 0.3125rem;
    }
    @include tablet {
      display: none;
    }
    @include desktop {
    }
  }

  &__img--edit {
    @include mobile {
      margin: 1rem 0 0 7.875rem;
    }
    @include tablet {
      margin: 0;
    }
    @include desktop {
    }
  }

  &__address {
    @include mobile {
      width: 7.5rem;
      margin-right: 2rem;
    }
    @include tablet {
      font-size: 0.875rem;
      width: 5.9375rem;
      margin: 0 1.2rem 0 1rem;
    }
    @include desktop {
      width: 13.0625rem;
      margin: 0 3.2rem 0 6.32rem;
    }
  }

  &__name {
    @include tablet {
      width: 6.3125rem;
      margin-right: 1.9rem;
    }
    @include desktop {
      margin-right: 5.2rem;
    }
  }

  &__info {
    @include tablet {
      width: 9rem;
    }
    @include desktop {
    }
  }

  &__warehouse {
    @include mobile {
      width: 6.25rem;
    }
    @include tablet {
      width: 7.25rem;
    }
  }

  &__icons {
    @include mobile {
      margin: 0;
    }
    @include tablet {
      display: flex;
      margin-left: 3rem;
    }
    @include desktop {
      margin-left: 3.5rem;
    }
  }

  &__img--delete2 {
    @include mobile {
      display: none;
    }
    @include tablet {
      display: list-item;
      margin-right: 1rem;
    }
    @include desktop {
    }
  }
}

.card:hover {
  @include desktop {
    background-color: $light-grey;
  }
}

.arrow {
  @include mobile {
    height: 20px;
    width: 20px;
    &__align {
      display: flex;
    }
  }
  @include tablet {
    margin-left: 1px;
  }
  @include desktop {
  }
}

.bar {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: flex;
    padding: 0 2rem;
    background-color: $light-grey;
    width: 44rem;
    height: 2.5rem;
    align-items: center;
  }

  @include desktop {
    width: 63.75rem;
  }

  &__labels {
    @include tablet {
      @include font-regular;
      color: $slate;
      display: flex;
      font-size: 0.75rem;
    }
  }
  &__arrows--warehouse {
    @include tablet {
      height: 1rem;
      width: 1rem;
      margin-right: 3rem;
    }
    @include desktop {
      margin-right: 8.25rem;
    }
  }

  &__arrows--address {
    @include tablet {
      height: 1rem;
      width: 1rem;
      margin-right: 3rem;
    }
    @include desktop {
      margin-right: 12.3rem;
    }
  }

  &__arrows--name {
    @include tablet {
      height: 1rem;
      width: 1rem;
      margin-right: 2rem;
    }
    @include desktop {
      margin-right: 5.3rem;
    }
  }

  &__arrows--info {
    @include tablet {
      height: 1rem;
      width: 1rem;
      margin-right: 4rem;
    }
    @include desktop {
      margin-right: 4.5rem;
    }
  }
}

.hide {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: block;
  }
}
