@import '../../partials/fonts.scss';
@import '../../partials/_mixins.scss';
@import '../../partials/partials.scss';

.inventories-header {
  display: flex;
  flex-direction: column;
  padding: $padding-increment * 4 $padding-increment * 3 $padding-increment * 3 $padding-increment * 3;
  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $padding-increment * 4;
    height: 5.875rem;
  }
  &__header {
    @include header;

    @include tablet {
      margin-right: auto;
    }
  }
  &__search {
    width: 100%;
    position: relative;
    margin: 1rem 0;

    @include tablet {
      width: 11.75rem;
      margin: 0 $padding-increment * 2 0 0;
    }
    &--input {
      @include input;
      position: relative;
      width: 100%;
    }
    &--icon {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
    }
  }
  &__button {
    @include button;
  }
}
