@import '../../partials/fonts.scss';
@import '../../partials/_mixins.scss';
@import '../../partials/partials.scss';

.item-details-header {
  @include details-head;
}
.box-2 {
  width: 100%;
  display: flex;
  justify-content: center;

  &__details {
    width: 80%;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;

    @mixin mobile {
      width: 100%;
      padding: 25px 10px;
      flex-direction: column;
    }
  }
  p {
    color: #13182c;
    font-size: 14px;
    font-weight: 400;
  }
  &__title {
    color: #5c667e;
    font-size: 12px;
    font-weight: 600;
  }
  &__col-2 {
    border-left: 1px solid #868181;
    padding-left: 20px;

    @mixin mobile {
      padding-left: 0px;
      border: none;
    }
  }
}
