@import '../../partials/fonts';
@import '../../partials/mixins';
@import '../../partials/partials';

.footer {
  padding: $padding-increment * 5 0;
  width: 100%;
  height: 6.125rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #5c667e;
}
