* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

.edit-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  height: 922px;
  width: 343px;
  left: 16px;
  top: 136px;
  border-radius: 3px;
  @include tablet {
    width: 704px;
    height: 612px;
  }
  @include desktop {
    width: 1020px;
  }

  &__title-cont {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    @include tablet {
      border-bottom: 1px solid #bdc5d5;
      padding-bottom: 21px;
    }
    &--img {
      margin-left: 44px;
      margin-right: 12px;
      @include tablet {
        margin-left: 2rem;
      }
      @include desktop {
        margin-left: 44px;
      }
    }
    &--title {
      font-size: 28px;
      line-height: 36px;
      font-weight: 600;
      @include desktop {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
  .form {
    @include tablet {
      display: flex;
      margin-bottom: 32px;
    }
    &__warehouse {
      margin-left: 24px;
      margin-right: 24px;
      display: flex;
      flex-direction: column;
      text-align: left;
      @include tablet {
        width: 320px;
        border-right: 1px solid #bdc5d5;
        padding-right: 31px;
        margin-left: 32px;
        margin-right: 0;
      }
      @include desktop {
        width: 469px;
        padding-right: 40px;
        margin-left: 40px;
      }
      &--title {
        font-size: 20px;
        line-height: 28px;
        border-top: 1px solid #bdc5d5;
        margin-bottom: 1.5rem;
        padding-top: 1rem;
        height: 2.25rem;
        @include tablet {
          border: none;
          padding-top: 0;
          margin-bottom: 2rem;
        }
        @include desktop {
          font-size: 24px;
          line-height: 32px;
        }
      }
      &--name-label {
        color: #13182c;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 4px;
      }
      &--name-input {
        background: #ffffff;
        border: 1px solid #bdc5d5;
        border-radius: 20px;
        margin-bottom: 1rem;
        height: 2.25rem;
        @include tablet {
          margin-bottom: 24px;
        }
      }
      &--address-label {
        color: #13182c;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 4px;
      }
      &--address-input {
        background: #ffffff;
        border: 1px solid #bdc5d5;
        border-radius: 20px;
        margin-bottom: 1rem;
        height: 2.25rem;
        @include tablet {
          margin-bottom: 24px;
        }
      }
      &--city-label {
        color: #13182c;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 4px;
      }
      &--city-input {
        background: #ffffff;
        border: 1px solid #bdc5d5;
        border-radius: 20px;
        margin-bottom: 1rem;
        height: 2.25rem;
        @include tablet {
          margin-bottom: 24px;
        }
      }
      &--country-label {
        color: #13182c;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 4px;
      }
      &--country-input {
        background: #ffffff;
        border: 1px solid #bdc5d5;
        border-radius: 20px;
        margin-bottom: 1rem;
        height: 2.25rem;
        @include tablet {
          margin-bottom: 0;
        }
      }
    }
    &__contact {
      border-top: 1px solid #bdc5d5;
      margin-left: 24px;
      margin-right: 24px;
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-top: 1.5rem;
      @include tablet {
        width: 320px;
        border: none;
        margin-left: 2rem;
        padding-top: 0;
      }
      @include desktop {
        width: 470px;
        padding-left: 40px;
        margin-right: 40px;
      }
      &--title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 1.5rem;
        height: 2.25rem;
        @include tablet {
          margin-bottom: 2rem;
        }
        @include desktop {
          font-size: 24px;
          line-height: 32px;
        }
      }
      &--name-label {
        color: #13182c;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 4px;
      }
      &--name-input {
        background: #ffffff;
        border: 1px solid #bdc5d5;
        border-radius: 20px;
        margin-bottom: 1rem;
        height: 2.25rem;
        @include tablet {
          margin-bottom: 24px;
        }
      }
      &--position-label {
        color: #13182c;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 4px;
      }
      &--position-input {
        background: #ffffff;
        border: 1px solid #bdc5d5;
        border-radius: 20px;
        margin-bottom: 1rem;
        height: 2.25rem;
        @include tablet {
          margin-bottom: 24px;
        }
      }
      &--phone-label {
        color: #13182c;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 4px;
      }
      &--phone-input {
        background: #ffffff;
        border: 1px solid #bdc5d5;
        border-radius: 20px;
        margin-bottom: 1rem;
        height: 2.25rem;
        @include tablet {
          margin-bottom: 24px;
        }
      }
      &--email-label {
        color: #13182c;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 4px;
      }
      &--email-input {
        background: #ffffff;
        border: 1px solid #bdc5d5;
        border-radius: 20px;
        margin-bottom: 1rem;
        height: 2.25rem;
        @include tablet {
          margin-bottom: 0;
        }
      }
    }
  }
  .button {
    display: flex;
    margin-left: 24px;
    @include tablet {
      width: 704px;
      height: 70px;
      justify-content: flex-end;
      align-items: center;
    }
    @include desktop {
      width: 1020px;
    }
    &__cancel {
      margin-top: 40px;
      border: none;
      width: 139px;
      height: 36px;
      border-radius: 20px;
      margin-right: 17px;
      background-color: #ffffff;
      border: 1px solid #bdc5d5;
      @include tablet {
        width: 72px;
        height: 38px;
        margin-top: 0;
      }
    }
    &__save {
      margin-top: 40px;
      border: none;
      color: #ffffff;
      width: 139px;
      height: 36px;
      background: #2e66e6;
      border-radius: 20px;
      @include tablet {
        width: 72px;
        height: 38px;
        margin-right: 32px;
        margin-top: 0;
      }
      @include desktop {
        margin-right: 40px;
      }
    }
  }
}
