* {
  font-family: "Titillium Web", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.edit-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  height: 922px;
  width: 343px;
}
@media screen and (min-width: 768px) {
  .edit-container {
    width: 704px;
    height: 612px;
  }
}
@media screen and (min-width: 1280px) {
  .edit-container {
    width: 1020px;
  }
}
.edit-container__title-cont {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .edit-container__title-cont {
    border-bottom: 1px solid #bdc5d5;
    padding-bottom: 21px;
  }
}
.edit-container__title-cont--img {
  margin-left: 24px;
  margin-right: 12px;
}
@media screen and (min-width: 768px) {
  .edit-container__title-cont--img {
    margin-left: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .edit-container__title-cont--img {
    margin-left: 44px;
  }
}
.edit-container__title-cont--title {
  font-family: Titillium-bold;
  color: #13182c;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  .edit-container__title-cont--title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .edit-container .form__wrapper {
    display: flex;
    margin-bottom: 32px;
  }
}
.edit-container .form__warehouse {
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse {
    border-right: 1px solid #bdc5d5;
    width: 320px;
    padding-right: 31px;
  }
}
@media screen and (min-width: 1280px) {
  .edit-container .form__warehouse {
    width: 469px;
    padding-right: 40px;
    margin-left: 40px;
  }
}
.edit-container .form__warehouse--title {
  border-top: 1px solid #bdc5d5;
  font-family: Titillium-bold;
  color: #13182c;
  font-size: 20px;
  line-height: 28px;
  height: 2.25rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-left: 24px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--title {
    border: none;
    padding-top: 0;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .edit-container .form__warehouse--title {
    font-size: 24px;
    line-height: 32px;
  }
}
.edit-container .form__warehouse--name-label {
  font-family: Titillium-bold;
  color: #13182c;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--name-label {
    font-size: 14px;
    line-height: 22px;
    margin-left: 32px;
    margin-right: 0;
  }
}
.edit-container .form__warehouse--name-input {
  font-family: Titillium-bold;
  color: #13182c;
  background: #ffffff;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
  margin-bottom: 1rem;
  height: 38px;
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--name-input {
    font-size: 14px;
    line-height: 22px;
    height: 38px;
    margin-left: 32px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--name-input {
    margin-bottom: 24px;
  }
}
.edit-container .form__warehouse--address-label {
  font-family: Titillium-bold;
  color: #13182c;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--address-label {
    font-size: 14px;
    line-height: 22px;
    margin-left: 32px;
    margin-right: 0;
  }
}
.edit-container .form__warehouse--address-input {
  font-family: Titillium-bold;
  color: #13182c;
  background: #ffffff;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
  margin-bottom: 1rem;
  height: 38px;
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--address-input {
    font-size: 14px;
    line-height: 22px;
    height: 38px;
    margin-left: 32px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--address-input {
    margin-bottom: 24px;
  }
}
.edit-container .form__warehouse--city-label {
  font-family: Titillium-bold;
  color: #13182c;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--city-label {
    font-size: 14px;
    line-height: 22px;
    margin-left: 32px;
    margin-right: 0;
  }
}
.edit-container .form__warehouse--city-input {
  font-family: Titillium-bold;
  color: #13182c;
  background: #ffffff;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
  margin-bottom: 1rem;
  height: 38px;
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--city-input {
    font-size: 14px;
    line-height: 22px;
    height: 38px;
    margin-left: 32px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--city-input {
    margin-bottom: 24px;
  }
}
.edit-container .form__warehouse--country-label {
  font-family: Titillium-bold;
  color: #13182c;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--country-label {
    font-size: 14px;
    line-height: 22px;
    margin-left: 32px;
    margin-right: 0;
  }
}
.edit-container .form__warehouse--country-input {
  font-family: Titillium-bold;
  color: #13182c;
  background: #ffffff;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
  margin-bottom: 1rem;
  height: 38px;
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--country-input {
    font-size: 14px;
    line-height: 22px;
    height: 38px;
    margin-left: 32px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .edit-container .form__warehouse--country-input {
    margin-bottom: 0;
  }
}
.edit-container .form__contact {
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact {
    width: 320px;
    border: none;
    margin-left: 2rem;
    padding-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .edit-container .form__contact {
    width: 470px;
    padding-left: 40px;
    margin-right: 40px;
  }
}
.edit-container .form__contact--title {
  border-top: 1px solid #bdc5d5;
  font-family: Titillium-bold;
  color: #13182c;
  font-size: 20px;
  line-height: 28px;
  height: 2.25rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-left: 24px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--title {
    border: none;
    padding-top: 0;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .edit-container .form__contact--title {
    font-size: 24px;
    line-height: 32px;
  }
}
.edit-container .form__contact--name-label {
  font-family: Titillium-bold;
  color: #13182c;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--name-label {
    font-size: 14px;
    line-height: 22px;
    margin-left: 32px;
    margin-right: 0;
  }
}
.edit-container .form__contact--name-input {
  font-family: Titillium-bold;
  color: #13182c;
  background: #ffffff;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
  margin-bottom: 1rem;
  height: 38px;
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--name-input {
    font-size: 14px;
    line-height: 22px;
    height: 38px;
    margin-left: 32px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--name-input {
    margin-bottom: 24px;
  }
}
.edit-container .form__contact--position-label {
  font-family: Titillium-bold;
  color: #13182c;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--position-label {
    font-size: 14px;
    line-height: 22px;
    margin-left: 32px;
    margin-right: 0;
  }
}
.edit-container .form__contact--position-input {
  font-family: Titillium-bold;
  color: #13182c;
  background: #ffffff;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
  margin-bottom: 1rem;
  height: 38px;
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--position-input {
    font-size: 14px;
    line-height: 22px;
    height: 38px;
    margin-left: 32px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--position-input {
    margin-bottom: 24px;
  }
}
.edit-container .form__contact--phone-label {
  font-family: Titillium-bold;
  color: #13182c;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--phone-label {
    font-size: 14px;
    line-height: 22px;
    margin-left: 32px;
    margin-right: 0;
  }
}
.edit-container .form__contact--phone-input {
  font-family: Titillium-bold;
  color: #13182c;
  background: #ffffff;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
  margin-bottom: 1rem;
  height: 38px;
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--phone-input {
    font-size: 14px;
    line-height: 22px;
    height: 38px;
    margin-left: 32px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--phone-input {
    margin-bottom: 24px;
  }
}
.edit-container .form__contact--email-label {
  font-family: Titillium-bold;
  color: #13182c;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--email-label {
    font-size: 14px;
    line-height: 22px;
    margin-left: 32px;
    margin-right: 0;
  }
}
.edit-container .form__contact--email-input {
  font-family: Titillium-bold;
  color: #13182c;
  background: #ffffff;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
  margin-bottom: 1rem;
  height: 38px;
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--email-input {
    font-size: 14px;
    line-height: 22px;
    height: 38px;
    margin-left: 32px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .edit-container .form__contact--email-input {
    margin-bottom: 0;
  }
}
.edit-container .button {
  display: flex;
  margin-left: 24px;
  height: 68px;
}
@media screen and (min-width: 768px) {
  .edit-container .button {
    justify-content: flex-end;
    align-items: center;
    width: 704px;
    height: 70px;
  }
}
@media screen and (min-width: 1280px) {
  .edit-container .button {
    width: 1020px;
  }
}
.edit-container .button__cancel {
  border-radius: 20px;
  min-width: 139px;
  width: auto;
  height: 36px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #bdc5d5;
  margin-top: 40px;
  margin-right: 17px;
}
@media screen and (min-width: 768px) {
  .edit-container .button__cancel {
    min-width: 72px;
    width: 72px;
    height: 38px;
  }
}
@media screen and (min-width: 768px) {
  .edit-container .button__cancel {
    margin-top: 0;
  }
}
.edit-container .button__save {
  border-radius: 20px;
  min-width: 139px;
  width: auto;
  height: 36px;
  border: none;
  border-radius: 20px;
  background: #2e66e6;
  color: #ffffff;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .edit-container .button__save {
    min-width: 72px;
    width: 72px;
    height: 38px;
  }
}
@media screen and (min-width: 768px) {
  .edit-container .button__save {
    padding: 0.5rem;
    margin-right: 32px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .edit-container .button__save {
    min-width: 72px;
    margin-right: 40px;
  }
}/*# sourceMappingURL=EditAddWarehouse.css.map */