@import '../../partials/fonts';
@import '../../partials/mixins';
@import '../../partials/partials';


.footer {
  height: auto;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  // position: absolute;
  bottom: 0;
  width: 100vw;

  &__text{
    font-size: 0.6875rem;
    @include font-regular;
    @include tablet {
      font-size: 12px;
      color: $slate;
    }
    @include desktop {
    }
  }
}
