@import '../../partials/fonts';
@import '../../partials/_mixins.scss';
@import '../../partials/partials';
.header {
  color: white;
  height: 200px;
  background-color: #232940;
  text-align: center;

  @include tablet {
    height: 186px;
  }
  &__nav {
    margin: 0 $padding-increment * 2;

    @include tablet {
      margin: 0 $padding-increment * 4;
    }
    @include desktop {
      margin: auto;
      max-width: 1020px;
    }
  }
  &__list {
    height: 136px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    @include tablet {
      height: 92px;
      align-items: center;
      flex-wrap: nowrap;
    }
  }
  &__item {
    width: 50%;
    &:first-child {
      width: 100%;
      height: 76px;
      padding: $padding-increment * 3 0;
      @include tablet {
        width: auto;
        margin-right: auto;
      }
    }

    @include tablet {
      width: auto;
      &:last-child {
        margin-left: $padding-increment * 2;
      }
    }
  }
  &__links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;

    @include tablet {
      width: auto;
    }
  }
  &__link {
    width: 100%;
    color: white;
    text-decoration: none;
    padding: $padding-increment $padding-increment * 2;
    margin-bottom: $padding-increment * 3;
    border-radius: 1.25rem;
    display: block;
    &--active {
      background: #13182c;
    }
    @include tablet {
      margin-bottom: 0;
    }
  }

  @include tablet {
    width: auto;
    margin-bottom: 0;
  }
}
