@import '../../partials/fonts';
@import '../../partials/_mixins.scss';
@import '../../partials/partials';
.nav {
  background-color: $graphite;
  display: flex;
  flex-direction: column;
  height: 7rem;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  width: 100vw;
  height: 10rem;
  position: absolute;
  @include mobile {
    height: 10rem;
    position: absolute;
    
  }
  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 1rem;
  }
}


.nav__logo {
  @include tablet {
    margin-left: 2rem;
  }

  @include desktop {
    margin-left: 11.25rem;
  }
}

.nav__links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  @include font-regular;
  align-items: center;

  @include tablet {
    margin-right: 1rem;
  }
  @include desktop {
    margin-right: 4rem;
  }
}

.nav__link {
  color: $cloud;
  text-decoration: none;
  width: 8rem;
  text-align: center;
  @include tablet {
    width: 7rem;

    padding: 0 1rem;
  }
}
.nav__link:hover {
  text-decoration: underline;
  color: white;
}
.active {
  background-color: $instock-black;
  border-radius: 2rem;
  padding-bottom: 0.2rem;
  color: $white;
  text-decoration: underline;
}
.active:hover {
  text-decoration: underline;
}
