@import "../../partials/fonts.scss";
@import "../../partials/_mixins.scss";
@import "../../partials/partials.scss";
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #fff;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$light-grey: #f7f8f9;
$green: #158463;
$red: #c94515;

$font-bold: titillium-bold;
$font-regular: titillium-regular;
* {
  font-family: "Titillium Web", sans-serif;
}

.inventory {
  z-index: 1;
 
  @include mobile {

    padding-bottom: 2rem;
  
    margin: 8rem 3rem 2.5rem 3rem;
    background-color: $white;
    box-shadow: 0rem 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
  }
  @include tablet {
    margin-top: 6rem;
  }
  @include desktop {
    width: 63.75rem;
    // margin-bottom:3rem;
    margin-top: 6rem;
    min-height:fit-content;
    display: flex;
    flex-direction: column;
    
    
  }
}
// .big-box {
//   width: 100vw;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.searchI {
  @include mobile {
    margin: 0 1.5rem;
  }
  @include tablet {
    display: flex;
  }

  &__title {
    @include mobile {
      @include font-bold;
      font-size: 1.75rem;
      line-height: 2.25rem;
      margin-top: 2rem;
    }
    @include tablet {
      font-size: 2rem;
      margin: 2rem 6.25rem 1.375rem 0;
    }
    @include desktop {
      margin: 2rem 19.4375rem 1.375rem 1rem;
    }
  }

  &__bar {
    @include mobile {
      height: 2.25rem;
      width: 18.4375rem;
      padding: 0 0 0 1rem;
      border-radius: 1.25rem;
      @include font-regular;
      font-size: 0.8125rem;
      margin: 1rem 0;
    }
    @include tablet {
      font-size: 0.875rem;
      height: 2.375rem;
      width: 11.5625rem;
      margin: 2rem 1rem 1.5rem 0;
    }
    @include desktop {
      width: 17.125rem;
    }
  }

  &__button {
    @include mobile {
      height: 2.25rem;
      width: 18.4375rem;
      padding: 0.5rem 5.25rem;
      background-color: $instock-indigo;
      border-radius: 1.25rem;
      @include font-regular;
      font-size: 0.8125rem;
      color: $white;
      border-style: none;
      margin-bottom: 1.5rem;
    }
    @include tablet {
      font-size: 0.875rem;
      height: 2.375rem;
      width: 10.5rem;
      padding: 0.5rem 1rem;
      margin-top: 2rem;
    }
    @include desktop {
    }
  }
}
input[type="text"] {
  background-image: url(../../Assets/Icons/search-24px.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 16.125rem;

  @include tablet {
    background-position-x: 9rem;
  }
  @include desktop {
    background-position-x: 15rem;
  }
}
.cardI {
  @include mobile {
    border-top: 0.0625rem solid $cloud;
    height: 14.75rem;
    // width: fit-content;
    // margin: 0 1rem;
    display: flex;
    // justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    // align-items: center;
  }
  @include tablet {
    flex-direction: row;
    height: fit-content;
    // justify-content: space-between;
    border-bottom: 0.0625rem solid $cloud;
    border-top: none;
    padding: 1rem 2rem;
  }
  @include desktop {
  }

  &__label {
    @include mobile {
      @include font-regular;
      font-size: 0.6875rem;
      line-height: 1rem;
      color: $slate;
      margin: 0 0 0.25rem 0;
    }
    @include tablet {
      display: none;
    }
    @include desktop {
    }
  }

  &__text--name {
    @include mobile {
      @include font-regular;
      font-size: 0.8125rem;
      line-height: 1.25rem;
      color: $instock-indigo;
      margin: 0 0 1rem 0;
    }
    @include tablet {
      font-size: 0.875rem;
    }
    @include desktop {
    }
  }

  &__text {
    @include mobile {
      @include font-regular;
      font-size: 0.8125rem;
      line-height: 1.25rem;
      margin: 0 0 1rem 0;
    }
    @include tablet {
      font-size: 0.875rem;
      margin: 0;
    }
    @include desktop {
    }
  }

  &__text--br {
    @include mobile {
      @include font-regular;
      font-size: 0.8125rem;
      line-height: 1.25rem;
      margin-bottom: 1rem;
    }
    @include tablet {
      font-size: 0.875rem;
    }
    @include desktop {
    }
  }

  &__img--delete {
    @include mobile {
      margin: 3.5rem 0 0 0;
    }
    @include tablet {
      display: none;
    }
    @include desktop {
    }
  }

  &__img--edit {
    @include mobile {
      margin: 10.75rem 0 1.5rem 0;
    }
    @include tablet {
      margin: 0;
    }
    @include desktop {
    }
  }

  &__category {
    @include mobile {
      width: 7.5rem;
      margin-right: 2rem;
    }
    @include tablet {
      font-size: 0.875rem;
      width: 4.375rem;
      margin: 0 2.8rem 0 1.9rem;
    }
    @include desktop {
      margin: 0 6rem 0 6.4rem;
    }
  }

  &__status {
    @include tablet {
      width: 5.75rem;
      margin-right: 1.7rem;
    }
    @include desktop {
      margin-right: 4.9rem;
    }
  }

  &__qty {
    @include tablet {
      width: 2.5rem;
      margin-right: 1.1rem;
    }
    @include desktop {
      margin-right: 2.6rem;
    }
  }

  &__item {
    @include tablet {
      width: 7.1875rem;
    }
    @include desktop {
    }
  }

  &__warehouse {
    @include mobile {
      width: 4.375rem;
    }
    @include tablet {
      width: 6.208125rem;
    }
  }

  &__icons {
    @include mobile {
      margin: 0;
    }
    @include tablet {
      display: flex;
      margin-left: 2rem;
    }
    @include desktop {
      margin-left: 7rem;
    }
  }

  &__img--delete2 {
    @include mobile {
      display: none;
    }
    @include tablet {
      display: list-item;
      margin-right: 1rem;
    }
    @include desktop {
    }
  }
}

.card:hover {
  @include desktop {
    background-color: $light-grey;
  }
}

.status-btn {
  border-radius: 10px;
  border: none;
  width: 65px;
  height: 26px;
  color: $green;
  background: rgba(21, 132, 99, 0.07);
}
.status-out {
  border-radius: 10px;
  border: none;
  width: 92px;
  height: 26px;
  color: $red;
  background: rgba(201, 69, 21, 0.07);
}

.arrow {
  @include mobile {
    height: 20px;
    width: 20px;
    &__align {
      display: flex;
    }
  }
  @include tablet {
    margin-left: 1px;
  }
  @include desktop {
  }
}

.barI {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: flex;
    padding: 0 2rem;
    background-color: $light-grey;
    width: 44rem;
    height: 2.5rem;
    align-items: center;
  }

  @include desktop {
    width: 63.75rem;
  }

  &__labels {
    @include tablet {
      @include font-regular;
      color: $slate;
      display: flex;
      font-size: 0.75rem;
    }
  }
  &__arrows--warehouse {
    @include tablet {
      height: 1rem;
      width: 1rem;
      margin-right: 4rem;
    }
    @include desktop {
      margin-right: 8.75rem;
    }
  }

  &__arrows--category {
    @include tablet {
      height: 1rem;
      width: 1rem;
      margin-right: 2.8125rem;
    }
    @include desktop {
      margin-right: 6.125rem;
    }
  }

  &__arrows--status {
    @include tablet {
      height: 1rem;
      width: 1rem;
      margin-right: 3.875rem;
    }
    @include desktop {
      margin-right: 7.125rem;
    }
  }

  &__arrows--item {
    @include tablet {
      height: 1rem;
      width: 1rem;
      margin-right: 2.4375rem;
    }
    @include desktop {
      margin-right: 6.875rem;
    }
  }

  &__arrows--qty {
    @include tablet {
      height: 1rem;
      width: 1rem;
      margin-right: 1.25rem;
    }
    @include desktop {
      margin-right: 2.875rem;
    }
  }
}
