@use "./partials" as *;

// BREAKPOINTS
$tablet: 768px;
$desktop: 1084px;
$padding-increment: 0.5rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin mobile {
  @media screen and (min-width: 375px) {
    @content;
  }
}

//MEDIA QUERIES
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin formLabel {
  @include font-bold;
  color: $instock-black;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-left: 24px;
  margin-right: 24px;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
    margin-left: 32px;
    margin-right: 0;
  }
}

@mixin formInput {
  @include font-regular;
  color: $instock-black;
  background: #ffffff;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
  margin-bottom: 1rem;
  height: 38px;
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 16px;
  &:focus {
    border: 1px solid $instock-indigo;
    border-radius: 20px;
    outline: none;
  }
  @include tablet {
    font-size: 14px;
    line-height: 22px;
    height: 38px;
    margin-left: 32px;
    margin-right: 0;
  }
}

@mixin formMainTitle {
  @include font-bold;
  color: $instock-black;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  @include desktop {
    font-size: 32px;
    line-height: 40px;
  }
}

@mixin formTitle {
  @include font-bold;
  border-top: 1px solid #bdc5d5;
  color: $instock-black;
  font-size: 20px;
  line-height: 28px;
  height: 2.25rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-left: 24px;
  @include tablet {
    border: none;
    padding-top: 0;
    margin-bottom: 2rem;
  }
  @include desktop {
    font-size: 24px;
    line-height: 32px;
  }
}

@mixin button {
  cursor: pointer;
  text-decoration: none;
  height: 2.25rem;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 100%;

  @include tablet {
    width: auto;
  }

  &--primary {
    background-color: $primary-blue;
    border: 1px solid $primary-blue;
    color: white;

    &:hover {
      text-decoration: none;
      background-color: #232940;
      border-color: #232940;
    }
  }
  &--secondary {
    background-color: white;
    border: 1px solid $secondary-light;
    color: $secondary-dark;

    &:hover {
      text-decoration: none;
      color: $primary-blue;
      border-color: $primary-blue;
    }
  }
}

@mixin font-bold {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}

@mixin font-regular {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}

// *************************************888

// /TYPOGRAPHY MIXINS
@mixin header {
  font-size: 1.75rem;
  line-height: 2.25rem;
  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@mixin subhead {
  font-size: 1.25rem;
  line-height: 1.75rem;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@mixin label {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@mixin table-header {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 600;
  color: $secondary-dark;
  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
@mixin body-large {
  font-size: 0.9375rem;
  line-height: 1.625rem;
  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
@mixin body-medium {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@mixin body-small {
  font-size: 0.6875rem;
  line-height: 1rem;
  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

//INPUT MIXIN
@mixin input {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid $secondary-light;
  outline: none;
}

@mixin link {
  @include label;
  color: $primary-blue;
  text-decoration: none;
}

// ******************************************************************************************
@mixin details-head {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $secondary-light;
  padding: $padding-increment * 4 $padding-increment * 3 $padding-increment * 3 $padding-increment * 3;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    height: 5.875rem;
    padding: $padding-increment * 4;
  }
  & a:first-child {
    height: 24px;
    margin-right: 0.75rem;
  }
  &__header {
    @include header;
    margin-right: auto;
    margin-left: $padding-increment;
  }
  &__button {
    @include button;
    &--circle {
      width: 36px;
      height: 36px;
    }
  }
  &__icon {
    &--light {
      filter: brightness(0) invert(1);
    }
  }
}
