// @import "./mixins";
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #fff;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$light-grey: #f7f8f9;
$green: #158463;
$red: #c94515;

//PRIMARY COLORS
$primary-dark: #13182c;
$primary-blue: #2e66e5;
$primary-white: #ffff;

//SECONDARY COLORS
$secondary-dark: #5c667e;
$secondary-light: #bdc5d5;

//BACKGROUND COLORS
$background-dark: #232940;
$background-light: #f7f8f9;

//SUPPORTING COLORS
$accent-green: #158463;
$accent-red: #c94515;
